<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <?include Config.wxi?>
  
	<Product Id="*" 
           Name="$(var.PRODUCTNAME)" 
           Language="1033"
           Version="!(bind.FileVersion.ProductExecutable)"
           Manufacturer="$(var.COMPANYNAME)" 
           UpgradeCode="f6afac30-a987-400b-9ef4-fb1e91771a60">
    
		<Package Description="$(var.PRODUCTNAME)" 
             Manufacturer="$(var.COMPANYNAME)"
             InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perUser" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Media Id="1" Cabinet="Setup.cab" CompressionLevel="high" EmbedCab="yes" />

    <Icon Id="icon.ico" SourceFile="$(var.IconPath)" />
    
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch $(var.PRODUCTNAME)" />
    <Property Id="WixShellExecTarget" Value="[#ProductExecutable]" />

    <WixVariable Id="WixUIDialogBmp" Value="background.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="top.bmp" />
    
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    
    <Feature Id="ProductFeature" Title="$(var.PRODUCTNAME)" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <UI>
      <UIRef Id="UI_Sequence" />
    </UI>

    <PropertyRef Id="NETFRAMEWORK45"/>

    <Condition Message="This application requires .NET Framework 4.5 or later. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>
    
  </Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop" />
			<Directory Id="LocalAppDataFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.InstallProductFolder)">
          <Directory Id="RuLocalizationFolder" Name="ru"/>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProductProgramMenuFolder" Name="$(var.InstallProductFolder)"/>
      </Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents">
      <Component Id="MainExecutables" Directory="INSTALLFOLDER" Guid="023629E8-413E-48F9-921C-4531C899709D">
        <File Id="ProductExecutable" Source="$(var.WavePlayer.UI.TargetDir)WavePlayer.UI.exe">
          <Shortcut Id="StartMenuShortcut" Icon="icon.ico" Name="$(var.PRODUCTNAME)" WorkingDirectory="INSTALLFOLDER" Directory="ProductProgramMenuFolder"/>
          <Shortcut Id="DesktopShortcut" Icon="icon.ico" Name="$(var.PRODUCTNAME)" WorkingDirectory="INSTALLFOLDER" Directory="DesktopFolder"/>
          <netfx:NativeImage Id="ngen_WavePlayer.UI.exe" Priority="0" AppBaseDirectory="INSTALLFOLDER"/>
        </File>
        <File Source="$(var.WavePlayer.UI.TargetDir)MahApps.Metro.dll"/>
        <File Source="$(var.WavePlayer.UI.TargetDir)SimpleInjector.dll"/>
        <File Source="$(var.WavePlayer.UI.TargetDir)System.Windows.Interactivity.dll"/>
        <File Source="$(var.WavePlayer.UI.TargetDir)vksdk.dll"/>
        <File Source="$(var.WavePlayer.UI.TargetDir)vksdk.dll.config"/>
        <File Source="$(var.WavePlayer.UI.TargetDir)WavePlayer.dll"/>
        <File Source="$(var.WavePlayer.UI.TargetDir)fmod.dll"/>

        <RemoveFolder Id="RemoveProductProgramsFolder" Directory="ProductProgramMenuFolder" On="uninstall"/>
        <RemoveFolder Id="RemoveProductFolder" Directory="INSTALLFOLDER" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\$(var.PRODUCTNAME)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>

      <Component Id="RuLocalization" Directory="RuLocalizationFolder" Guid="CAD5FF2B-C0CD-4BEE-8847-D4FD953EBAD2">
        <File Source="$(var.WavePlayer.UI.TargetDir)ru\vksdk.resources.dll"/>
        <File Source="$(var.WavePlayer.UI.TargetDir)ru\WavePlayer.UI.resources.dll"/>
        <RemoveFolder Id="RemoveRuLocalizationFolder" Directory="RuLocalizationFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\$(var.PRODUCTNAME)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
      
		</ComponentGroup>
	</Fragment>

  <Fragment>
    <UI Id="UI_Sequence">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">NOT Installed</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1">NOT Installed</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed AND PATCH</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>

    <UIRef Id="WixUI_Common" />
  </Fragment>
</Wix>