<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WavePlayer.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WavePlayer.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <userSettings>
    <WavePlayer.UI.Properties.Settings>
      <setting name="AccentColor" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>Light</value>
      </setting>
      <setting name="AccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="LanguageId" serializeAs="String">
        <value>25</value>
      </setting>
    </WavePlayer.UI.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <WavePlayer.UI.Properties.Settings>
      <setting name="AccessRights" serializeAs="String">
        <value>Friends, Audio</value>
      </setting>
    </WavePlayer.UI.Properties.Settings>
  </applicationSettings>
</configuration>
